* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.postContainer {
  background-color: #b8f4dc;
  color: #9e77f5;
  border-radius: 16px;
  padding: 10px;

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

}