* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #545454;
}

button {
  //margin: 0 auto;
  cursor: pointer;
}

//[type="submit"] {
//  max-width: 320px;
//  width: 100%;
//  margin: 0 auto;
//}

/* ================ START OF DIALOG OVERLAY==================== */

/* ================ END OF DIALOG OVERLAY ==================== */

/* ================ START OF DIALOG WINDOW + CONTENT ==================== */

/* ================ END OF DIALOG WINDOW + CONTENT ==================== */

/* ================ START OF SIGN UP FORM ==================== */
.signUpDialogOpenBtn {
  margin-top: 20px;
  padding: 10px;
  background-color: #61d0f8;
  color: #9c67f2;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 10px #65d9ff;
  transition: all 0.5s ease;

  &:hover {
    background-color: #65d9ff;
    color: #a76eff;
    box-shadow: 0px 0px 20px #65d9ff;
  }
}

.signUpDialogOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease 0s;
}

.signUpDialogOverlay.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.signUpDialogOverlay.open .signUpDialogContent {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.signUpDialogWindow {
  border-radius: 16px;
}

.signUpDialogContent {
  border-radius: 16px;
  background-color: rgb(255, 208, 126);
  color: #000000;
  max-width: 800px;
  padding: 0 30px 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.signUpDialogCloseBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  background: none;
  transition: all 0.5s ease;
  &:hover {
    color: #be3232;
  }
}

.signUpDialogTitle {
  font-size: 4rem;
  font-weight: 900;

  margin: 0px 0px 0.5em 0px;
}

.popup__text {
}

.signUpBtn {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    background-color: #88d2c4;
  }
}

#signUpDialogForm {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  input {
    //width: 100%;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 8px;
    border: none;
    outline: none;
  }
}

/* ================ END OF SIGN UP FORM ==================== */

/* ================ START OF LOG IN FORM ==================== */
.loginDialogOpenBtn {
  @extend .signUpDialogOpenBtn;

  background-color: #f8af61;
  color: #ad67f2;
  box-shadow: 0px 0px 10px #de9d57;

  &:hover {
    background-color: #f8af61;
    color: #ad67f2;
    box-shadow: 0px 0px 16px rgba(249, 175, 90, 0.83);
  }
}

.loginDialogOverlay {
  @extend .signUpDialogOverlay;
}

.loginDialogOverlay.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.loginDialogOverlay.open .loginDialogContent {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.loginDialogWindow {
  @extend .signUpDialogWindow;
}

.loginDialogContent {
  @extend .signUpDialogContent;
}

.loginDialogCloseBtn {
  @extend .signUpDialogCloseBtn;
}

.loginDialogTitle {
  @extend .signUpDialogTitle;
}

.loginBtn {
  @extend .signUpBtn;
}

.loginDialogForm {
  @extend #signUpDialogForm;

  //input {
  //  //width: 100%;
  //  padding: 10px;
  //  font-size: 1.8rem;
  //  border-radius: 8px;
  //  border: none;
  //  outline: none;
  //}
}

.rememberPasswordLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* ================ END OF LOG IN FORM ==================== */
