* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0 auto;
}
.dialogWindow {
  background-color: rgb(197, 197, 197);
  width: 100vw;
  height: 100vh;
  padding: 45px;

  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;

  pointer-events: none;
}

.dialogWindow.open {
  opacity: 1;
  visibility: visible;

  pointer-events: auto;
}

.dialogWindow.open form {
  opacity: 1;
  transform: perspective(1200px) translate(0px, 0%) rotateX(0deg);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  transition: all 0.8s ease 0s;
  transform: perspective(1200px) translate(0px, -100%) rotateX(45deg);
}


[type="submit"] {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}